<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <h3 class="head main-heading">{{ @root.__ "Contact" }} <span class="colored"> {{ @root.__ "Us" }}</span></h3>
    <div class="inner_section_w3ls">
      <div class="col-md-7 contact_grid_right">
        <h6 class="section-header">
          {{ @root.__ "We would love to hear from you. Whether it’s a query, question or general inquiry, please feel free to reach out to us." }}
        </h6>
        <form action="#" method="post">
          <div class="col-md-12 col-sm-12 contact_left_grid">
            <input type="text" name="name" placeholder="{{ @root.__ "Name" }}" required="">
            <input type="email" name="email" placeholder="Email" required="" style="margin-bottom: 15px;">
            <input type="text" name="subject" placeholder="{{ @root.__ "Subject" }}" required="">
          </div>
          {{!-- <div class="col-md-6 col-sm-6 contact_left_grid">
            <input type="text" name="Telephone" placeholder="Telephone" required="">
          </div> --}}
          <div class="clearfix"> </div>
          <textarea name="Message" onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
          <input class="mainBtn" type="reset" value="{{ @root.__ "Clear" }}">
          <input class="mainBtn greenBtn" type="submit" value="{{ @root.__ "Submit" }}">
        </form>
      </div>
      <div class="col-md-5 contact-left">
        <h6 class="mainColorText">{{ @root.__ "Contact Info" }}</h6>
        <div class="visit">
          <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
            <span class="fa fa-home" aria-hidden="true"></span>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
            <h4>{{ @root.__ "Visit us" }}</h4>
            <p>
              No. 55, Tanzania Rd, Hurlingham
              <br />
              Nairobi, Kenya
              <br />
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="mail-us">
          <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
            <span class="fa fa-envelope" aria-hidden="true"></span>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
            <h4>{{ @root.__ "Mail us" }}</h4>
            <p><a href="mailto:info@example.com">info@mlhair.com</a></p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="call">
          <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
            <span class="fa fa-phone" aria-hidden="true"></span>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
            <h4>{{ @root.__ "Call us" }}</h4>
            <p>
              +254 755 452 235
              <br />
              +254 789 995 100
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="visit">
          <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
            <span class="fa fa-thumbs-up" aria-hidden="true"></span>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 contact-text social-icons">
            <h4>{{ @root.__ "Follow us" }}</h4>
            <button type="button" class="btn btn-primary btn-circle"><i class="fab fa-facebook"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle"><i class="fab fa-instagram"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle"><i class="fab fa-twitter"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"> </div>

    </div>

    <div class="clearfix"></div>

  </div>
</div>
<div class="contact-map">

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8026132140903!2d36.786144614101154!3d-1.292869035996447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10a3dc8a2425%3A0x94e48314489213d4!2sYaya%20Centre!5e0!3m2!1sen!2sng!4v1606297509795!5m2!1sen!2sng"></iframe>
</div>