<div class="col-md-6 shop_left">
	<img src="/{{config.theme}}/images/banner3.jpg" alt="">
	<h6>40% off</h6>
</div>
<div class="col-md-6 shop_right">
	<img src="/{{config.theme}}/images/banner2.jpg" alt="">
	<h6>50% off</h6>
</div>
<div class="clearfix"></div>
<div class="productsWrapper col-sm-12">
	{{#if filtered}}
	<div class="product-layout product-results col-sm-12">
		{{#ifCond @root.paginateUrl '==' 'category'}}
		<h1>{{ @root.__ "Category" }}: <strong>{{ @root.searchTerm }}</strong></h1>
		{{else}}
		<h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
		{{/ifCond}}
	</div>
	{{else}}

	<div class="row insta-row">
		{{#each instaFeed}}
		<div class="col-12 col-md-4 col-sm-4 col-xs-12 instacard">
			<div class="instagram-card">
				<div class="card-header">
					<img class="user-image" src="{{this.node.thumbnail_src}}" />
					<p class="user-name"> marielyne_beauty </p>
					{{!-- <p class="time">1h</p> --}}
				</div>
				<div class="card-image">
					<img src="{{this.node.thumbnail_src}}" width="100%" />
				</div>
				<div class="card-content">
					<a class="mainBtn" href="{{this.profileUrl}}" target="_blank">View more on Instagram</a>
					<div class="icons">
						<a href="{{this.profileUrl}}" target="_blank">
							<i class="far fa-heart"></i>
						</a>
						<a href="{{this.profileUrl}}" target="_blank">
							<i class="far fa-comment"></i>
						</a>
						<a href="{{this.profileUrl}}" target="_blank">
							<i class="fas fa-inbox"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>

	{{/if}}
	<div class="row product-layout">
		{{#ifCond results.length '==' 0}}
		<div class="col-sm-12">
			<p class="text-danger">{{ @root.__ "No products found" }}</p>
		</div>
		{{/ifCond}}

		<div class="products-container home">
			{{#each results}}
			<div class="single-product">
				<div class="product">
					{{#if productPermalink}}
					<div class="image">
						{{#if productImage}}
						<img src="{{this.productImage}}" alt="">
						{{else}}
						<img src="/uploads/placeholder.png" alt="">
						{{/if}}
					</div>
					<div class="quick-view">
						<a href="/product/{{this.productPermalink}}" class="link-product-add-cart">{{ @root.__ "Quick View" }}
							<i class="fa fa-book-open" aria-hidden="true"></i></a>
					</div>
					<div class="product-info">
						<p>
							<a href="/product/{{this.productPermalink}}">{{this.productTitle}} </a>
						</p>
					</div>
					{{else}}
					<div class="image">
						{{#if productImage}}
						<img src="{{this.productImage}}" alt="">
						{{else}}
						<img src="/uploads/placeholder.png" alt="">
						{{/if}}
					</div>
					<div class="quick-view">
						<a href="/product/{{this._id}}" class="link-product-add-cart">{{ @root.__ "Quick View" }} <i
								class="fa fa-book-open" aria-hidden="true"></i></a>
					</div>
					<div class="product-info">
						<p>
							<a href="/product/{{this._id}}">{{this.productTitle}} </a>
						</p>
					</div>
					{{/if}}
					{{#if variants}}
					<div class="price-section">
						{{#if @root.config.showHomepageVariants}}
						<select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
							{{#each variants}}
							<option value="{{this._id}}" data-price="{{this.price}}">
								{{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.price}}
							</option>
							{{/each}}
						</select>
						{{else}}
						<div class="cart-section">
							<h4 class="product-price mp-0 text-center">
								{{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
							</h4>
						</div>
						{{/if}}
						<div class="cart-section">
							<div class="cart-button">
								{{#if @root.config.showHomepageVariants}}
								<a class="add-variant-to-cart mainBtn greenBtn" data-id="{{this._id}}" role="button">
									{{ @root.__ "Add to cart" }}
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
								</a>
								{{else}}
								<a class="add-to-cart mainBtn greenBtn" data-id="{{this._id}}" data-link="{{this.productPermalink}}"
									data-has-variants="{{checkProductVariants this.variants}}" role="button"> {{ @root.__ "Add to cart" }}
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
								</a>
								{{/if}}
							</div>
						</div>
					</div>
					{{else}}
					<div class="price-section">
						<div class="cart-section">
							<div class="price">
								<span class="money">
									{{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
								</span>
							</div>
							<div class="cart-button">
								{{#if @root.config.showHomepageVariants}}
								<a class="add-variant-to-cart mainBtn cartBtn greenBtn" data-id="{{this._id}}" role="button">
									{{ @root.__ "Add to cart" }}
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
								</a>
								{{else}}
								<a class="add-to-cart  mainBtn cartBtn greenBtn" data-id="{{this._id}}"
									data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"
									role="button">{{ @root.__ "Add to cart" }}
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
								</a>
								{{/if}}
							</div>
						</div>
					</div>
					{{/if}}
				</div>
			</div>
			{{/each}}

		</div>

		{{!-- {{#each results}}
		<div class="col-md-2 product-men women_two">
			<div class="product-shoe-info shoe">
				<div class="men-pro-item">
					<div class="men-thumb-item">
						{{#if productPermalink}}
						<a href="/product/{{this.productPermalink}}">
							{{#if productImage}}
							<img src="{{this.productImage}}" alt="">
							{{else}}
							<img src="/uploads/placeholder.png" alt="">
							{{/if}}
						</a>
						{{else}}
						<a href="/product/{{this._id}}">
							{{#if productImage}}
							<img src="{{this.productImage}}" alt="">
							{{else}}
							<img src="/uploads/placeholder.png" alt="">
							{{/if}}
						</a>
						{{/if}}
						<div class="men-cart-pro">
							<div class="inner-men-cart-pro">
								{{#if productPermalink}}
								<a href="/product/{{this.productPermalink}}" class="link-product-add-cart">
									Quick View
								</a>
								{{else}}
								<a href="/products/{{this._id}}" class="link-product-add-cart">
									Quick View
								</a>
								{{/if}}
							</div>
						</div>
						<span class="product-new-top">New</span>
					</div>
					<div class="item-info-product">
						<h4>
							{{#if productPermalink}}
							<a href="/product/{{this.productPermalink}}">
								{{this.productTitle}}
							</a>
							{{else}}
							<a href="/products/{{this._id}}">
								{{this.productTitle}}
							</a>
							{{/if}}
						</h4>
						<div class="info-product-price">
							<div class="grid_meta">
								<div class="product_price">
									<div class="grid-price ">
										<span class="money ">{{currencySymbol @root.config.currencySymbol}}
											{{formatAmount productPrice}}</span>
									</div>
								</div>
								<!--<ul class="stars">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                </ul>-->
							</div>
							<div class="shoe single-item hvr-outline-out">
								<a class="btn btn-block shoe-cart pshoe-cart add-to-cart" data-id="{{this._id}}"
									data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"
									role="button">
									<i class="fa fa-cart-plus ba" style="color: black" aria-hidden="true"></i>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		{{/each}} --}}
	</div>

	{{> themes/MarieLyne/bottom-carousel}}
</div>
<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">