{{> themes/MarieLyne/front-menu}}
<div class="productsWrapper col-sm-12">
  {{#if filtered}}
    <div class="product-layout product-results col-sm-12">
      {{#ifCond @root.paginateUrl '==' 'category'}}
      <h1>{{ @root.__ "Category" }}: <strong>{{ @root.searchTerm }}</strong></h1>
      {{else}}
      <h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
      {{/ifCond}}
    </div>
  {{else}}

  <div class="row insta-row">
    {{#each instafeed}}
      <div class="col-md-4">
        <div class="instagram-card">
          <div class="card-header">
            <img
              class="user-image"
              src="{{this.node.thumbnail_src}}"
            />
            <p class="user-name">
              {{this.username}}
              <br />
              <small> {{this.followers}} followers</small>
            </p>
            <p class="time float-right">
              <a class="btn btn-info btn-sm" target="_blank" href="{{this.profileUrl}}">View Profile</a>
            </p>
          </div>
          <div class="card-image">
            <img
              src="{{this.node.display_url}}"
              width="100%"
              height="340px"
            />
          </div>
          <div class="card-content">
            <a href="{{this.profileUrl}}" target="_blank">View More</a>
            <hr class="splitter" />
            <div class="icons">
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="chatbubble-outline"></ion-icon>
              <ion-icon name="open-outline"></ion-icon>
            </div>
            <p class="likes">{{this.node.edge_liked_by.count}} likes</p>
            <hr class="splitter" />
          </div>
          <div class="card-actions">
            <input
              class="comments-input"
              type="text"
              placeholder="Add a comment..."
            />
            <a href="#" class="action-icons">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{/if}}
  <div class="row product-layout">
    {{#ifCond results.length '==' 0}}
      <div class="col-sm-12">
        <p class="text-danger">{{ @root.__ "No products found" }}</p>
      </div>
    {{/ifCond}}
    {{#each results}}
        <div class="col-md-4 product-men women_two">
            <div class="product-shoe-info shoe">
                <div class="men-pro-item">
                    <div class="men-thumb-item">
                        {{#if productPermalink}}
                            <a href="/product/{{this.productPermalink}}">
                                {{#if productImage}}
                                    <img src="{{this.productImage}}" alt="">
                                {{else}}
                                    <img src="/uploads/placeholder.png" alt="">
                                {{/if}}
                            </a>
                        {{else}}
                            <a href="/product/{{this._id}}">
                                {{#if productImage}}
                                    <img src="{{this.productImage}}" alt="">
                                {{else}}
                                    <img src="/uploads/placeholder.png" alt="">
                                {{/if}}
                            </a>
                        {{/if}}
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}" class="link-product-add-cart">
                                        Quick View
                                    </a>
                                {{else}}
                                    <a href="/products/{{this._id}}" class="link-product-add-cart">
                                        Quick View
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                        <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product">
                        <h4>
                            {{#if productPermalink}}
                                <a href="/product/{{this.productPermalink}}">
                                    {{this.productTitle}}
                                </a>
                            {{else}}
                                <a href="/products/{{this._id}}">
                                    {{this.productTitle}}
                                </a>
                            {{/if}}
                        </h4>
                        <div class="info-product-price">
                            <div class="grid_meta">
                                <div class="product_price">
                                    <div class="grid-price ">
                                        <span class="money ">{{currencySymbol @root.config.currencySymbol}} {{formatAmount productPrice}}</span>
                                    </div>
                                </div>
                                <!--<ul class="stars">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                </ul>-->
                            </div>
                            <div class="shoe single-item hvr-outline-out">
                                <a
                                        class="btn btn-block shoe-cart pshoe-cart add-to-cart"
                                        data-id="{{this._id}}"
                                        data-link="{{this.productPermalink}}"
                                        data-has-variants="{{checkProductVariants this.variants}}"
                                        role="button"
                                >
                                    <i class="fa fa-cart-plus ba" style="color: black" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

      {{!--{{#each results}}
      <div class="{{perRowClass ../config.productsPerRow}}">
          <div class="product-wrapper">
              <div class="container">
                  <div class="top">
                      {{#if productPermalink}}
                      <a href="/product/{{this.productPermalink}}">
                          {{#if productImage}}
                          <img src="{{this.productImage}}" alt="">
                          {{else}}
                          <img src="/uploads/placeholder.png" alt="">
                          {{/if}}
                      </a>
                      {{else}}
                      <a href="/product/{{this._id}}">
                          {{#if productImage}}
                          <img src="{{this.productImage}}" alt="">
                          {{else}}
                          <img src="/uploads/placeholder.png" alt="">
                          {{/if}}
                      </a>
                      {{/if}}
                  </div>
                  {{#if variants}}
                  <div class="bottom">
                      <div class="left">
                          <div class="details">
                              {{#if productPermalink}}
                              <a href="/products/{{this.productPermalink}}">
                                  {{this.productTitle}}
                              </a>
                              {{else}}
                              <a href="/products/{{this._id}}">
                                  {{this.productTitle}}
                              </a>
                              {{/if}}
                    {{#if @root.config.showHomepageVariants}}
                              <select
                                      id="productVariant-{{this._id}}"
                                      class="productVariant form-control mb-2"
                              >
                                  {{#each variants}}
                                  <option
                                          value="{{this._id}}"
                                          data-price="{{this.price}}"
                                  >
                                      {{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.price}}
                                  </option>
                                  {{/each}}
                              </select>
                              {{else}}
                              <h4 class="product-price mp-0 text-center">
                                  {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
                              </h4>
                              {{/if}}
                              <p>£250</p>
                          </div>
                          <div class="buy">
                              <ion-icon name="cart" style="font-size: 1.5em"></ion-icon>
                          </div>
                      </div>
                      <div class="right">
                          <div class="done">
                              <ion-icon name="checkmark-done-circle"></ion-icon>
                          </div>
                          <div class="details">
                              <h3>Chair</h3>
                              <p>Added to your cart</p>
                          </div>
                          <div class="remove">
                              <ion-icon name="close-circle"></ion-icon>
                          </div>
                      </div>
                  </div>
                  {{else}}
                  <div class="bottom">
                      <div class="left">
                          <div class="details">
                              {{#if productPermalink}}
                              <a href="/products/{{this.productPermalink}}">
                                  {{this.productTitle}}
                              </a>
                              {{else}}
                              <a href="/products/{{this._id}}">
                                  {{this.productTitle}}
                              </a>
                              {{/if}}
                              <p>
                                  {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                              </p>
                          </div>
                          <div class="buy">
                              {{#if @root.config.showHomepageVariants}}
                              <a
                                      class="add-variant-to-cart"
                                      data-id="{{this._id}}"
                                      role="button"
                              >
                                  <ion-icon name="cart"></ion-icon>
                              </a>
                              {{else}}
                              <a
                                      class="add-to-cart"
                                      data-id="{{this._id}}"
                                      data-link="{{this.productPermalink}}"
                                      data-has-variants="{{checkProductVariants this.variants}}"
                                      role="button"
                              >
                                  <ion-icon name="cart"></ion-icon>
                              </a>
                              {{/if}}
                          </div>
                      </div>
                  </div>
                  {{/if}}
              </div>
              <div class="inside">
                  <div class="icon">
                      <ion-icon name="information-circle"></ion-icon>
                  </div>
                  <div class="contents">
                      <h4>
                          {{#if productPermalink}}
                          <a href="/products/{{this.productPermalink}}">
                              {{this.productTitle}}
                          </a>
                          {{else}}
                          <a href="/products/{{this._id}}">
                              {{this.productTitle}}
                          </a>
                          {{/if}}
                      </h4>
                      <h3>
                          {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                      </h3>
                  </div>
              </div>
          </div>
      </div>
      {{/each}}--}}
    {{!-- <div class="col-md-12">
      <div id="pager" class="d-flex justify-content-center"></div>
    </div> --}}
  </div>
  <div class="hero-container container-fluid">
        <ul id="autoWidth" class="cs-hidden">
            {{#each results}}
                <li class="item-a">
                    <div class="slider-container">
                        <div class="box-slider">
                            <div class="slider-image">
                                {{#if productImage}}
                                    <img src="{{this.productImage}}" alt="" />
                                {{else}}
                                    <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                {{/if}}
                                <!-- Image overlay -->
                                <div class="slider-overlay">
                                    <!-- Buy now -->
                                    <a
                                            type="button"
                                            class="slider-btn add-variant-to-cart"
                                            data-id="{{this._id}}"
                                            role="button"
                                    >
                                        {{ @root.__ "Add to cart" }}
                                    </a>
                                </div>
                            </div>
                            <!-- Product DETAILS -->
                            <div class="slider-details">
                                <!-- Product name -->
                                <div class="product-name">
                                    {{#if productPermalink}}
                                        <a href="/product/{{this.productPermalink}}">
                                            {{this.productTitle}}
                                        </a>
                                    {{else}}
                                        <a href="/product/{{this._id}}">
                                            {{this.productTitle}}
                                        </a>
                                    {{/if}}
                                    {{!-- <span>New Arrival</span> --}}
                                </div>
                                {{#if @root.config.showHomepageVariants}}
                                    <a
                                            type="button"
                                            data-id="{{this._id}}"
                                            class="btn btn-default btn-circle add-variant-to-cart"
                                            role="button"
                                    >
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                {{else}}
                                    <a
                                            class="btn btn-default btn-circle add-to-cart"
                                            type="button"
                                            data-id="{{this._id}}"
                                            data-link="{{this.productPermalink}}"
                                            role="button"
                                    >
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                {{/if}}

                                <a href="#" class="slider-price">
                                    {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}" >
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">