<div class="productsWrapper col-sm-12">

	{{!-- <div class="col-md-6 shop_right">
		<img src="/{{config.theme}}/images/banner2hair.jpg" alt="">
		<h6>50% off</h6>
	</div> --}}
	<div class="clearfix"></div>
	{{#if filtered}}
	<div class="product-layout product-results col-sm-12">
		{{#ifCond @root.paginateUrl '==' 'category'}}
		<h1>{{ @root.__ "Category" }}: <strong>{{ @root.searchTerm }}</strong></h1>
		{{else}}
		<h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
		{{/ifCond}}
	</div>
	{{else}}
	<div class="col-md-12 shop_left homeBannerImage">
		<img src="/{{config.theme}}/images/banner3hair.jpg" alt="">
		<div class="bannerText">
			<h4>Order Now</h4>
			<h4>and get up to</h4>
			<h5>40% off</h5>
			<a href="/shop">Shop Now</a>
		</div>
	</div>
	<div class="container-fluid home-container">
		{{#each instaFeed}}
		{{> themes/MarieLyne/ig-post}}
		{{/each}}
		{{!-- <div id="instagram-cont"></div> --}}


		<div class="row product-layout home">
			{{#ifCond results.length '==' 0}}
			<div class="col-sm-12">
				<p class="text-danger">{{ @root.__ "No products found" }}</p>
			</div>
			{{/ifCond}}

			{{#ifCond homePageProducts.length '!=' 0}}
			<h2 class="heading2">
				{{ @root.__ "Some Products" }}
			</h2>
			<div class="products-container home">
				{{#each ../homePageProducts}}
				<div class="single-product">
					<div class="product">
						{{#if productPermalink}}
						<div class="image">
							{{#if productImage}}
							<img src="{{this.productImage}}" alt="">
							{{else}}
							<img src="/uploads/placeholder.png" alt="">
							{{/if}}
						</div>
						<div class="quick-view">
							<a href="/product/{{this.productPermalink}}" class="link-product-add-cart">{{ @root.__ "Quick View" }}
								<i class="fa fa-book-open" aria-hidden="true"></i></a>
						</div>
						<div class="product-info">
							<p>
								<a href="/product/{{this.productPermalink}}">{{this.productTitle}} </a>
							</p>
						</div>
						{{else}}
						<div class="image">
							{{#if productImage}}
							<img src="{{this.productImage}}" alt="">
							{{else}}
							<img src="/uploads/placeholder.png" alt="">
							{{/if}}
						</div>
						<div class="quick-view">
							<a href="/product/{{this._id}}" class="link-product-add-cart">{{ @root.__ "Quick View" }} <i
									class="fa fa-book-open" aria-hidden="true"></i></a>
						</div>
						<div class="product-info">
							<p>
								<a href="/product/{{this._id}}">{{this.productTitle}} </a>
							</p>
						</div>
						{{/if}}
						{{#if variants}}
						<div class="price-section">
							{{#if @root.config.showHomepageVariants}}
							<select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
								{{#each variants}}
								<option value="{{this._id}}" data-price="{{otherVariantPriceValues ../../this}}">
									{{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{otherVariantPriceValues ../../this}}
								</option>
								{{/each}}
							</select>
							{{else}}
							<div class="cart-section">
								<h4 class="product-price mp-0 text-center">
									{{currencySymbol @root.config.currencySymbol}}{{shopVariantPriceValues ../../this}}
								</h4>
							</div>
							{{/if}}
							<div class="cart-section">
								<div class="cart-button">
									{{#if @root.config.showHomepageVariants}}
									<a class="add-variant-to-cart mainBtn greenBtn" data-id="{{this._id}}" role="button">
										{{ @root.__ "Add to cart" }}
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									{{else}}
									<a class="add-to-cart mainBtn greenBtn" data-id="{{this._id}}" data-link="{{this.productPermalink}}"
										data-has-variants="{{checkProductVariants this.variants}}" role="button">
										{{ @root.__ "Add to cart" }}
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									{{/if}}
								</div>
							</div>
						</div>
						{{else}}
						<div class="price-section">
							<div class="cart-section">
								<h4 class="product-price mp-0 text-center">
									{{currencySymbol @root.config.currencySymbol}}{{ relatedProductsPriceValue ../../this}}
								</h4>
								{{!-- <div class="price">
									<span class="money">
										{{currencySymbol @root.config.currencySymbol}}{{relatedProductsPriceValue ../this}}
									</span>
								</div> --}}
								<div class="cart-button">
									{{#if @root.config.showHomepageVariants}}
									<a class="add-variant-to-cart mainBtn cartBtn greenBtn" data-id="{{this._id}}" role="button">
										{{ @root.__ "Add to cart" }}
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									{{else}}
									<a class="add-to-cart  mainBtn cartBtn greenBtn" data-id="{{this._id}}"
										data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"
										role="button">{{ @root.__ "Add to cart" }}
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</a>
									{{/if}}
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
			<a href="/shop" class="btn mainBtn greenBtn keepShoppingBtn">
				{{ @root.__ "Keep Shopping" }}</a>
			{{/ifCond}}

		</div>
	</div>
	{{/if}}
	{{> themes/MarieLyne/bottom-carousel}}
</div>
<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">