<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

</style>
<div class="productsWrapper col-sm-12">
    <div class="col-md-12 offset-md-1 col-sm-12">
        <div class="row">
            <div class="text-center col-md-12 offset-md-3">
                {{#paymentMessage 'Pending-mpesa'}}{{/paymentMessage}}
                <div>
                    <p><h5>Order details</h5></p>
                    <p><strong>{{ @root.__ "Order ID" }}:</strong> {{result._id}}</p>
                    <p><strong>{{ @root.__ "Payment ID" }}:</strong> {{result.orderPaymentId}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4 offset-md-1 col-sm-12 top-pad-50" style="margin-top: 1%">
        <div class="row">
            <div class="text-center col-md-12 offset-md-3">
                <div>
                    <p><h3>Please complete your payment using the following details</h3></p>
                    <p><strong>{{ @root.__ "Paybill" }}:</strong> {{ @root.config.mpesaPayBill }}</p>
                    <p><strong>{{ @root.__ "Account" }}:</strong> 6682000127 {{!--{{result.mpesaPaymentAccount}}--}}</p>
                </div>
                <div class="text-center">
                    <a href="/" class="btn btn-outline-warning">Home</a>
                </div>
                {{#ifCond result.orderPaymentId '==' ''}}
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form method="post" action="/mpesa/payment_code">
                            <input type="text" name="code" class="form-control" value="" id="add-subscription-email" placeholder="Enter mpesa Code" required="">
                            <input type="hidden" name="order_id" class="form-control" value="{{@root.result._id}}" id="add-subscription-email" placeholder="Enter mpesa Code" required="">
                            <input type="submit" value="Check">
                        </form>
                    </div>
                {{/ifCond}}
            </div>
        </div>
    </div>
</div>
