<div class="ads-grid_shop shop-page">
  <div class="shop_inner_inf">
    <!-- tittle heading -->

    <!-- //tittle heading -->
    <!-- product left -->
    <div class="side-bar col-md-3">
      <button type="button" class="btn btn-sm btn-lg mainBtn greenBtn btn-block filter-btn" id="filter-btn">
        {{ @root.__ "Filter" }}
      </button>
      <div class="search-hotel">
        {{!-- <h3 class="agileits-sear-head">Search Here..</h3> --}}
        <form action="#" method="post">
          <input type="search" placeholder="{{ @root.__ "Search" }}. . ." name="search" required="">
          <input class="mainBtn greenBtn" type="submit" value=" ">
        </form>
      </div>
      <!-- price range -->
      <div class="range">
        <h3 class="agileits-sear-head">{{ @root.__ "Price range" }}</h3>
        <div class="price-range-values">
          <div class="min-value"></div>
          <div class="max-value"></div>
        </div>
        <div class="row">
          <div class="range-slider" data-min='20000' data-max='100000' data-step="10">
            <div class="slider-track">
              <span class='slider-track-filled'></span>
            </div>
            <div class="min-thumb"></div>
            <div class="max-thumb"></div>
          </div>
        </div>

      </div>
      <!-- //price range -->
      <!--preference -->
      <div class="left-side" id="categories-filter">
        <h3 class="agileits-sear-head">{{ @root.__ "Categories" }}</h3>
        {{#each categories}}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{this}}" id="{{this}}">
          <label class="form-check-label" for="{{this}}">
            {{this}}
          </label>
        </div>
        {{/each}}
      </div>
      <div class="customer-rev left-side">
        <h3 class="agileits-sear-head">{{ @root.__ "Minimum rating" }}</h3>
        <select class="rating-select" id="rating-select">
          <option value="1">{{ @root.__ "One star" }}</option>
          <option value="2">{{ @root.__ "Two stars" }}</option>
          <option value="3">{{ @root.__ "Three stars" }}</option>
          <option value="4">{{ @root.__ "Four stars" }}</option>
          <option value="5">{{ @root.__ "Five stars" }}</option>
        </select>
      </div>
      <!-- //reviews -->

    </div>
    <!-- //product left -->
    <!-- product right -->
    <div class="left-ads-display col-md-9">
      <div class="wrapper_top_shop">
        <div class="col-md-6 shop_left discounts">
          <img src="/images/carousel1.jpg" alt="">
          <div class="discounts-link">
            <button>
              40% OFF
            </button>
          </div>
        </div>
        <div class="col-md-6 shop_right discounts">
          <img src="/images/carousel2.jpg" alt="">
          <div class="discounts-link">
            <button>
              50% OFF
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- product-sec1 -->
        <div class="product-sec1">
          <div class="products-container">
            {{#each results}}
            <div class="single-product">
              <div class="product">
                {{#if productPermalink}}
                <div class="image">
                  {{#if productImage}}
                  <img src="{{this.productImage}}" alt="">
                  {{else}}
                  <img src="/uploads/placeholder.png" alt="">
                  {{/if}}
                </div>
                <div class="quick-view">
                  <a href="/product/{{this.productPermalink}}" class="link-product-add-cart">{{ @root.__ "Quick View" }}
                    <i class="fa fa-book-open" aria-hidden="true"></i></a>
                </div>
                <div class="product-info">
                  <p>
                    <a href="/product/{{this.productPermalink}}">{{this.productTitle}} </a>
                  </p>
                </div>
                {{else}}
                <div class="image">
                  {{#if productImage}}
                  <img src="{{this.productImage}}" alt="">
                  {{else}}
                  <img src="/uploads/placeholder.png" alt="">
                  {{/if}}
                </div>
                <div class="quick-view">
                  <a href="/product/{{this._id}}" class="link-product-add-cart">{{ @root.__ "Quick View" }} <i
                      class="fa fa-book-open" aria-hidden="true"></i></a>
                </div>
                <div class="product-info">
                  <p>
                    <a href="/product/{{this._id}}">{{this.productTitle}} </a>
                  </p>
                </div>
                {{/if}}

                {{#if variants}}
                <div class="price-section">
                  {{#if @root.config.showHomepageVariants}}
                  <select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
                    {{#each variants}}
                    <option value="{{this._id}}" data-price="{{this.displayPrice}}">
                      {{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.displayPrice}}
                    </option>
                    {{/each}}
                  </select>
                  {{else}}
                  <div class="cart-section">
                    <h4 class="product-price mp-0 text-center">
                      {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.displayPrice}}
                    </h4>
                  </div>
                  {{/if}}
                  <div class="cart-section">
                    <div class="cart-button">
                      {{#if @root.config.showHomepageVariants}}
                      <a class="add-variant-to-cart mainBtn greenBtn" data-id="{{this._id}}" role="button">
                        {{ @root.__ "Add to cart" }}
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                      </a>
                      {{else}}
                      <a class="add-to-cart mainBtn greenBtn" data-id="{{this._id}}"
                        data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"
                        role="button"> {{ @root.__ "Add to cart" }}
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                      </a>
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="price-section">
                  <div class="cart-section">
                    <div class="price">
                      <span class="money">
                        {{currencySymbol @root.config.currencySymbol}}{{formatAmount displayPrice}}
                      </span>
                    </div>
                    <div class="cart-button">
                      {{#if @root.config.showHomepageVariants}}
                      <a class="add-variant-to-cart mainBtn cartBtn greenBtn" data-id="{{this._id}}" role="button">
                        {{ @root.__ "Add to cart" }}
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                      </a>
                      {{else}}
                      <a class="add-to-cart  mainBtn cartBtn greenBtn" data-id="{{this._id}}"
                        data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"
                        role="button">{{ @root.__ "Add to cart" }}
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                      </a>
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{/if}}
              </div>
            </div>
            {{/each}}

          </div>
          <!--/mens-->

          <!-- //mens -->
          <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<script>
  var minThumb = document.querySelector(".min-thumb"),
    maxThumb = document.querySelector(".max-thumb"),
    minValue = document.querySelector(".min-value"),
    maxValue = document.querySelector(".max-value"),
    base = document.querySelector(".range-slider"),
    values = document.querySelector(".values"),
    min = Math.floor(parseInt(base.dataset.min) / 1000) * 1000,
    max = Math.ceil(parseInt(base.dataset.max) / 1000) * 1000,
    step = parseInt(base.dataset.step) || 1,
    bar = document.querySelector(".slider-track"),
    barInner = document.querySelector(".slider-track-filled"),
    offset,
    isDown;

  minValue.innerHTML = min;
  maxValue.innerHTML = max;

  function minMaxThumbMoveStart(e) {
    if (e.buttons > 1) {
      return false;
    }

    if (e.target.classList.contains("min-thumb")) {
      minThumb.classList.add("min-down");
    } else if (e.target.classList.contains("max-thumb")) {
      maxThumb.classList.add("max-down");
    }

    base.classList.add("move-start");
    document.addEventListener("mouseup", minMaxThumbMoveEnd);
    document.addEventListener("mousemove", minMaxThumbMove);

    document.addEventListener("touchstart", minMaxThumbMoveEnd);
    document.addEventListener("touchmove", minMaxThumbMove);
  }

  function calculateMinValues(leftPos) {
    var minVal =
      leftPos / (bar.offsetWidth - minThumb.offsetWidth) * (max - min) + min;
    var multi = Math.floor(minVal / step);
    minVal = step * multi;

    //var minVal = Math.round(leftPos / step) * step + min;
    minValue.innerHTML = minVal;
  }

  function calculateMaxValues(leftPos) {
    var maxVal =
      leftPos / (bar.offsetWidth - maxThumb.offsetWidth) * (max - min) + min;
    var multi = Math.floor(maxVal / step);
    maxVal = step * multi;
    maxValue.innerHTML = maxVal;
  }

  function minMaxThumbMove(e) {
    var mousePosition = {};

    if (base.classList.contains("move-start")) {
      if (!e.touches) {
        mousePosition = {
          x: e.clientX
        };
      } else {
        mousePosition = {
          x: e.touches[0].clientX
        };
      }

      var leftPos = Math.max(
        0,
        Math.min(
          mousePosition.x - base.getBoundingClientRect().left - minThumb.offsetWidth / 2,
          bar.offsetWidth - minThumb.offsetWidth
        )
      );

      var percentage = leftPos / bar.offsetWidth * 100;

      if (minThumb.classList.contains("min-down")) {
        var cPos = Math.min(
          percentage,
          maxThumb.offsetLeft / bar.offsetWidth * 100
        );
        minThumb.style.left = cPos + "%";
        calculateMinValues(cPos * bar.offsetWidth / 100);
      } else if (maxThumb.classList.contains("max-down")) {
        var cPos = Math.max(
          percentage,
          minThumb.offsetLeft / bar.offsetWidth * 100
        );
        maxThumb.style.left = cPos + "%";
        calculateMaxValues(cPos * bar.offsetWidth / 100);
      }

      calculateFilledTrackWidth();
    }
  }

  function calculateFilledTrackWidth() {
    barInner.style.marginLeft = minThumb.offsetLeft / bar.offsetWidth * 100 + "%";
    barInner.style.width =
      (maxThumb.offsetLeft - minThumb.offsetLeft) / bar.offsetWidth * 100 + "%";
  }

  function minMaxThumbMoveEnd(e) {
    base.classList.remove("move-start");
    minThumb.classList.remove("min-down");
    maxThumb.classList.remove("max-down");

    document.removeEventListener("mouseup", minMaxThumbMoveEnd);
    document.removeEventListener("mousemove", minMaxThumbMove);

    document.removeEventListener("touchstart", minMaxThumbMoveEnd);
    document.removeEventListener("touchmove", minMaxThumbMove);
  }

  function onSliderTrackClick(e) {
    var distanceMinThumb = Math.hypot(
      minThumb.getBoundingClientRect().x - parseInt(e.clientX),
      minThumb.getBoundingClientRect().y - parseInt(e.clientY)
    );

    var distanceMaxThumb = Math.hypot(
      maxThumb.getBoundingClientRect().x - parseInt(e.clientX),
      maxThumb.getBoundingClientRect().y - parseInt(e.clientY)
    );

    var leftPos = Math.max(
      0,
      Math.min(
        e.clientX - 30 - minThumb.offsetWidth / 2,
        bar.offsetWidth - minThumb.offsetWidth
      )
    );

    var percentage = leftPos / bar.offsetWidth * 100;

    if (distanceMinThumb < distanceMaxThumb) {
      minThumb.style.left = percentage + "%";
      calculateMinValues(leftPos);
    } else {
      maxThumb.style.left = percentage + "%";
      calculateMaxValues(leftPos);
    }

    calculateFilledTrackWidth();
  }

  bar.addEventListener("mousedown", onSliderTrackClick);

  document.addEventListener("mousedown", minMaxThumbMoveStart);
  document.addEventListener("touchstart", minMaxThumbMoveStart);

  document.addEventListener("mouseup", minMaxThumbMoveEnd);
  document.addEventListener("touchend", minMaxThumbMoveEnd);

  //document.addEventListener("mousemove", minMaxThumbMove);
  //document.addEventListener("touchmove", minMaxThumbMove);

  const filterBtn = document.querySelector('#filter-btn')

  filterBtn.addEventListener('click', filterProductsOnShop)

  function filterProductsOnShop() {
    const maxValue = document.querySelector('.max-value').textContent
    const minValue = document.querySelector('.min-value').textContent

    const categoriesCheckboxes = document.querySelector('#categories-filter')
    const categoryOptions = categoriesCheckboxes.getElementsByTagName('input');
    const categoryNames = categoriesCheckboxes.getElementsByTagName('label');
    const selectedCategories = []

    for (i = 0; i < categoryOptions.length; i++) {
      if (categoryOptions[i].checked) {
        selectedCategories.push(categoryOptions[i].value || categoryOptions[i].value);
      }
    }

    const rating = document.getElementById('rating-select').value

    const data = {
      price: {
        min: minValue,
        max: maxValue,
      },
      categories: selectedCategories,
      rating
    }

    let categoryString = ''

    data.categories.forEach((cat, i) => {
      if (i < data.categories.length - 1) categoryString += `${cat}-`
      else categoryString += `${cat}`
    })

    const filterURL = `/shop/filter/${data.price.min}/${data.price.max}/${categoryString}`

    // On create review
    $('#filter-btn').click(function (e) {
      e.preventDefault()
      $.ajax({
        type: 'GET',
        url: filterURL,
        data
      }).done((response) => {
        window.location = '/shop/';

      }).fail((response) => {
        window.location = '/shop/';
      });
    });
  }

</script>