{{> themes/MarieLyne/front-menu}}
<div class="container">
  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">{{@root.config.cartTitle}}</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>

    </div>

    <!-- SHOW IF NO PRODUCTS -->
    {{#ifCond results.length '==' 0}}
      <div class="col-lg-9">
        <p class="text-danger">{{ @root.__ "No products found" }}</p>
      </div>
    {{/ifCond}}
    <div class="col-lg-9">

      <div class="row">
        {{!-- LOOP THROUGH PRODUCTS --}}
        {{#each results}}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              {{#if productPermalink}}
                <a href="/product/{{this.productPermalink}}">
                  {{#if productImage}}
                    <img class="card-img-top" src="{{this.productImage}}" alt="">
                  {{else}}
                    <img class="card-img-top" src="/uploads/placeholder.png" alt="">
                  {{/if}}
                </a>
              {{else}}
                <a href="/product/{{this._id}}">
                  {{#if productImage}}
                    <img class="card-img-top" src="{{this.productImage}}" alt="">
                  {{else}}
                    <img class="card-img-top" src="/uploads/placeholder.png" alt="">
                  {{/if}}
                </a>
              {{/if}}
              <div class="card-body">
                <h4 class="card-title">
                  {{#if productPermalink}}
                    <a href="/products/{{this.productPermalink}}">Item One</a>
                  {{else}}
                    <a href="/products/{{this._id}}">Item One</a>
                  {{/if}}
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
</div>
{{> themes/MarieLyne/footer}}