<style>
    .wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        text-align:center;
        transform: translateX(-50%);
    }

    .spanner{
        position:absolute;
        top: 50%;
        left: 0;
        background: #2a2a2a55;
        width: 100%;
        display:block;
        text-align:center;
        height: 300px;
        color: #FFF;
        transform: translateY(-50%);
        z-index: 1000;
        visibility: hidden;
    }

    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        visibility: hidden;
    }

    .loader,
    .loader:before,
    .loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
    }
    .loader {
        color: #ffffff;
        font-size: 10px;
        margin: 80px auto;
        position: relative;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }
    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .loader:after {
        left: 3.5em;
    }
    @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }
    @keyframes load7 {
        0%,
        80%,
        100% {
            box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
            box-shadow: 0 2.5em 0 0;
        }
    }

    .show{
        visibility: visible;
    }

    .spanner, .overlay{
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .spanner.show, .overlay.show {
        opacity: 1
    }
</style>
<div>
    <div class="mb-2">
        <span class="float-right">
            <img  style="height: 50px" src="{{ @root.paymentConfig.mpesa.logo }}" alt="{{@root.paymentConfig.mpesa.description}}">
        </span>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-4 col-xs-2">
            <span class="form-control" style="padding-left: 10px;">+254</span>
        </div>
        <div class="col-8 col-md-6 col-sm-8 col-xs-8">
        <span class="float-right">
        <input class="form-control" id="mpesa-number" type="search" placeholder="7XXXXXXXX" value="{{@root.session.customerPhone}}">
        </span>
        </div>
        <input type="hidden" id="environment" value="{{@root.paymentConfig.mpesa.environment}}">
        <input type="hidden" id="mpesaNumber" value="{{ @root.session.customerPhone }}">
        <input type="hidden" id="totalAmount" value="{{ @root.session.totalCartAmount }}">
    </div>
    <button id="pay-mpesa" class="btn btn-outline-success mt-2" type="submit">Pay via M-Pesa</button>

    <div class="overlay">
        <div class="spanner">
            <div class="loader"></div>
            <span>Please Enter Payment on Your Phone</span>
        </div>
    </div>
</div>

<script>
    const leading0RegEx = new RegExp(/^0(7(?:(?:[129][0-9])|(?:0[0-8])|(4[0-1]))[0-9]{6})$/)
    const countryCodeRegEx = new RegExp(/^(?:254)?(7(?:(?:[129][0-9])|(?:0[0-8])|(4[0-1]))[0-9]{6})$/)
    // const fullCountryCodeRegEx = new RegExp(/^(?:+254)?(7(?:(?:[129][0-9])|(?:0[0-8])|(4[0-1]))[0-9]{6})$/)
    const numberRegEx = new RegExp(/^(7(?:(?:[129][0-9])|(?:0[0-8])|(4[0-1]))[0-9]{6})$/)

   $(document).ready(() => {

       // let phoneNumber = $('#mpesa-number').val();
       // console.log(phoneNumber)
       // phoneNumber = cleanNumber(phoneNumber)
       // console.log(phoneNumber)
       // $('#mpesa-number').val(phoneNumber);
       //
       // $('#mpesa-number').change((e) => {
       //
       //     console.log(e)
       // })

       $('#pay-mpesa').on('click', (e) => {
           $("div.spanner").addClass("show");
           $("div.overlay").addClass("show");
           console.log(e)
           $.ajax({
               type: 'POST',
               url: '/api/v1/stkpush/process',
               data: {
                   phoneNumber: '254' + $('#mpesa-number').val(),
                   amount: '1',
                   accountReference: 'test',
                   description: 'test'
               }
           }).done((response) => {
               console.log(response, 'done')
               window.location = response.goto;
           }).fail((response) => {
               window.location = response.goto;
               console.log(response, 'fail')
           });
       })
   })

    function cleanNumber(_phoneNumber) {
        if (leading0RegEx.test(_phoneNumber)) {
            return _phoneNumber.substring(1, _phoneNumber.length);
        } else if (countryCodeRegEx.test(_phoneNumber)) {
            return _phoneNumber.substring(2, _phoneNumber.length);
        } /*else if (fullCountryCodeRegEx.test(_phoneNumber)) {
            return _phoneNumber.substring(3, _phoneNumber.length);
        }*/
    }
</script>